In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd /content/drive/MyDrive/Github/brianhelenfakenews/

/content/drive/MyDrive/Github/brianhelenfakenews

Train: ISOT + ReCOVery + FA-KES

Test: ISOT, ReCOVery, FA-KES (individually)

In [ ]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import gensim
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Conv1D, Flatten, MaxPooling1D, LSTM, Embedding, Input, Dropout
from sklearn.model_selection import train_test_split
from sklearn.metrics import multilabel_confusion_matrix
from numpy import unique
from tensorflow.keras import layers
from tensorflow.math import confusion_matrix

In [ ]:
from tensorflow.python.client import device_lib 
print(device_lib.list_local_devices())

[name: "/device:CPU:0"
device_type: "CPU"
memory_limit: 268435456
locality {
}
incarnation: 3169915193330034125
xla_global_id: -1
, name: "/device:GPU:0"
device_type: "GPU"
memory_limit: 11320098816
locality {
  bus_id: 1
  links {
  }
}
incarnation: 11626537149246998718
physical_device_desc: "device: 0, name: Tesla K80, pci bus id: 0000:00:04.0, compute capability: 3.7"
xla_global_id: 416903419
]

In [ ]:
true = pd.read_csv("Datasets/ISOT/True.csv", dtype=str)
fake = pd.read_csv ("Datasets/ISOT/Fake.csv", dtype=str)
true.head()
fake.head()

                                               title  ... Unnamed: 171
0   Donald Trump Sends Out Embarrassing New Year’...  ...          NaN
1   Drunk Bragging Trump Staffer Started Russian ...  ...          NaN
2   Sheriff David Clarke Becomes An Internet Joke...  ...          NaN
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...          NaN
4   Pope Francis Just Called Out Donald Trump Dur...  ...          NaN

[5 rows x 172 columns]

In [ ]:
true = true.loc[:, ~true.columns.str.contains('^Unnamed')]
fake = fake.loc[:, ~fake.columns.str.contains('^Unnamed')]
fake = fake.drop(columns=fake.columns[0])
fake = fake.drop(columns=fake.columns[1])
fake = fake.drop(columns=fake.columns[1])
true = true.drop(columns=true.columns[0])
true = true.drop(columns=true.columns[1])
true = true.drop(columns=true.columns[1])

In [ ]:
truetrainpercentage = round(len(true)*0.8)
truetotal = len(true)
faketrainpercentage = round(len(fake)*0.8)
faketotal = len(fake)

In [ ]:
truetrain = true[0:truetrainpercentage]
truetest = true[truetrainpercentage:truetotal]
faketrain = fake[0:faketrainpercentage]
faketest = fake[faketrainpercentage:faketotal]

In [ ]:
fa_kes = pd.read_csv("Datasets/FA-KESDataset/FA-KES-Dataset.csv")
recovery = pd.read_csv("Datasets/ReCOVery/recovery-news-data.csv")

In [ ]:
fa_kes = fa_kes.drop(columns=fa_kes.columns[0])
fa_kes = fa_kes.drop(columns=fa_kes.columns[0])
fa_kes = fa_kes.drop(columns=fa_kes.columns[1])
fa_kes = fa_kes.drop(columns=fa_kes.columns[1])
fa_kes = fa_kes.drop(columns=fa_kes.columns[1])
fa_kes = fa_kes.drop(columns=fa_kes.columns[2])
fa_kes

                                                  text  label
0    Wed 05 Apr 2017 Syria attack symptoms consiste...      0
1    Fri 07 Apr 2017 at 0914 Homs governor says U.S...      0
2    Sun 16 Apr 2017 Death toll from Aleppo bomb at...      0
3    Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...      0
4    Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...      0
..                                                 ...    ...
799  28-08-2016 Turkish Bombardment Kills 20 Civili...      1
800  17-08-2016 Martyrs as Terrorists Shell Aleppos...      1
801  03-08-2016 Chemical Attack Kills Five Syrians ...      0
802  01-08-2016 5 Killed as Russian Military Choppe...      1
803  April 6 2017 Syrian Army Kills 48 ISIL Terrori...      1

[804 rows x 2 columns]

In [ ]:
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[0])
recovery = recovery.drop(columns=recovery.columns[1])
recovery = recovery.drop(columns=recovery.columns[1])
recovery

                                                   text  label
0     \nA novel respiratory virus that originated in...      1
1     Chinese Health Officials: More Die From Newly ...      1
2     Public health experts around the globe are scr...      1
3     The first two coronavirus cases in Europe have...      0
4     A new coronavirus appeared in Wuhan, China, at...      1
...                                                 ...    ...
2024  © Robert Gauthier/Los Angeles Times/TNS People...      0
2025  Michael Moore, for decades on the political fr...      0
2026  © HEATHER KHALIFA/The Philadelphia Inquirer/TN...      0
2027  Nearly half of the Twitter accounts sharing in...      0
2028  In Brief The Facts: Major events have a lastin...      0

[2029 rows x 2 columns]

In [ ]:
fa_kestrainpercentage = round(len(fa_kes)*0.8)
fa_kestotal = len(fa_kes)
recoverytrainpercentage = round(len(recovery)*0.8)
recoverytotal = len(recovery)

fa_kestrain = fa_kes[0:fa_kestrainpercentage]
fa_kestest = fa_kes[fa_kestrainpercentage:fa_kestotal]
recoverytrain = recovery[0:recoverytrainpercentage]
recoverytest = recovery[recoverytrainpercentage:recoverytotal]

In [ ]:
trainframes = [truetrain, faketrain, fa_kestrain, recoverytrain]
train = pd.concat(trainframes)

In [ ]:
train

                                                   text label
0     WASHINGTON (Reuters) - The head of a conservat...     1
1     WASHINGTON (Reuters) - Transgender people will...     1
2     WASHINGTON (Reuters) - The special counsel inv...     1
3     WASHINGTON (Reuters) - Trump campaign adviser ...     1
4     SEATTLE/WASHINGTON (Reuters) - President Donal...     1
...                                                 ...   ...
1618  The New York Times has made it abundantly clea...     0
1619  When the lives of thousands of grandmas matter...     0
1620  Killer hornets threaten US ecosystem\n\nWhen l...     0
1621  Amid the COVID-19 pandemic and ensuing travel ...     0
1622  Southern States See More COVID-19 Cases, CDC W...     0

[38202 rows x 2 columns]

In [ ]:
import spacy
spacy.load('en_core_web_sm')

In [ ]:
#!pip install spacy== 3.0.0
#!python -m spacy download en_core_web_sm
!pip install beautifulsoup4==4.9.1
!pip install textblob==0.15.3
!pip install git+https://github.com/laxmimerit/preprocess_kgptalkie.git --upgrade --force-reinstall

Requirement already satisfied: beautifulsoup4==4.9.1 in /usr/local/lib/python3.7/dist-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.7/dist-packages (from beautifulsoup4==4.9.1) (2.3.1)
Requirement already satisfied: textblob==0.15.3 in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from textblob==0.15.3) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->textblob==0.15.3) (1.15.0)
Collecting git+https://github.com/laxmimerit/preprocess_kgptalkie.git
  Cloning https://github.com/laxmimerit/preprocess_kgptalkie.git to /tmp/pip-req-build-kuseikco
  Running command git clone -q https://github.com/laxmimerit/preprocess_kgptalkie.git /tmp/pip-req-build-kuseikco
Building wheels for collected packages: preprocess-kgptalkie
  Building wheel for preprocess-kgptalkie (setup.py) ... done
  Created wheel for preprocess-kgptalkie: filename=preprocess_kgptalkie-0.1.3-py3-none-any.whl size=11756 sha256=6bd7f6d6fdc892d4de3c638e667935d17f35a4945ab96a1be15219ce64a3235b
  Stored in directory: /tmp/pip-ephem-wheel-cache-s4_7wyx9/wheels/0d/b3/29/bfe3deffda68980088d17b81331be6667e837ffb4a071bae82
Successfully built preprocess-kgptalkie
Installing collected packages: preprocess-kgptalkie
  Attempting uninstall: preprocess-kgptalkie
    Found existing installation: preprocess-kgptalkie 0.1.3
    Uninstalling preprocess-kgptalkie-0.1.3:
      Successfully uninstalled preprocess-kgptalkie-0.1.3
Successfully installed preprocess-kgptalkie-0.1.3

In [ ]:
import preprocess_kgptalkie as ps

In [ ]:
train['text'] = train['text'].apply(lambda x: str(x).lower())
truetest['text'] = truetest['text'].apply(lambda x: str(x).lower())
faketest['text'] = faketest['text'].apply(lambda x: str(x).lower())
fa_kes['text'] = fa_kes['text'].apply(lambda x: str(x).lower())
recovery['text'] = recovery['text'].apply(lambda x: str(x).lower())

train['text'] = train['text'].apply(lambda x: ps.remove_special_chars(x))
truetest['text'] = truetest['text'].apply(lambda x: ps.remove_special_chars(x))
faketest['text'] = faketest['text'].apply(lambda x: ps.remove_special_chars(x))
fa_kes['text'] = fa_kes['text'].apply(lambda x: ps.remove_special_chars(x))
recovery['text'] = recovery['text'].apply(lambda x: ps.remove_special_chars(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [ ]:
train

                                                   text label
0     washington reuters the head of a conservative ...     1
1     washington reuters transgender people will be ...     1
2     washington reuters the special counsel investi...     1
3     washington reuters trump campaign adviser geor...     1
4     seattlewashington reuters president donald tru...     1
...                                                 ...   ...
1618  the new york times has made it abundantly clea...     0
1619  when the lives of thousands of grandmas matter...     0
1620  killer hornets threaten us ecosystemwhen livin...     0
1621  amid the covid19 pandemic and ensuing travel r...     0
1622  southern states see more covid19 cases cdc war...     0

[38202 rows x 2 columns]

In [ ]:
x = [d.split() for d in train['text'].tolist()]
y = train['label'].values

In [ ]:
DIM = 400
w2v_model = gensim.models.Word2Vec(sentences=x, size=DIM, window=10, min_count=1)

# size --> vector_size

In [ ]:
len(w2v_model.wv.key_to_index)

In [ ]:
tokenizer = tf.keras.preprocessing.text.Tokenizer()
tokenizer.fit_on_texts(x)

In [ ]:
x = tokenizer.texts_to_sequences(x)

In [ ]:
plt.hist([len(a) for a in x], bins = 700)
plt.xlabel("Character Count")
plt.ylabel("Number of Articles")
plt.show()

In [ ]:
nos = np.array([len(a) for a in x])
len(nos[nos>1000])

In [ ]:
maxlen = 100
x = tf.keras.preprocessing.sequence.pad_sequences(x, maxlen=maxlen)

In [ ]:
vocab_size = len(tokenizer.word_index) + 1
vocab = tokenizer.word_index

In [ ]:
def get_weight_matrix(model):
    weight_matrix = np.zeros((vocab_size, DIM))
    
    for word, i in vocab.items():
        try:
            weight_matrix[i] = model.wv[word]
        except:
            print("whatever")
        
    return weight_matrix

In [ ]:
embedding_vectors = get_weight_matrix(w2v_model)

In [ ]:
embedding_vectors.shape